  @import url('https://fonts.googleapis.com/css2?family=Akronim');

  /* Code for the logo snippet from https://codepen.io/nodws/pen/bdjwn */
.brand-logo h4{
    text-align: left;
    width: 45%;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    
 }
  
  .brand-logo b{
    font: 100 4vh "Akronim";
    color: #fff;
    text-shadow:  0 -40px 100px, 0 0 2px, 0 0 1em rgb(223, 14, 14), 0 0 0.5em rgb(252, 41, 51), 0 0 0.1em #0c0c0c, 0 10px 3px #000;
  }
  .brand-logo b span{
    animation: blink linear infinite 2s;
  }
  .brand-logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  
/* code for navbar background color*/
.nav-wrapper {
    background: black;
  }

  h3 {
    color: #ee4fcc
  }
  


/* code for icons */
.tiny {
    color: skyblue;
  }
  
  /* Code for the sign up button */
.btn {
     background-color: black;
  }
  
   /* Code for the flash messages */
   .flashes h6 {
    border: 2px solid #f51fb8;
    padding: 10px;
    border-radius: 20px 20px;
    
  }
 

  /* border for the card-panel in categories*/
.solid {
  border: 2mm ridge rgba(7, 0, 7, 0.6);
  box-shadow: 0 0 0 0.2rem skyblue;
  border-radius: 2px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}

 /* footer*/
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
.page-footer {
  background: black;
}

 