{% extends "base.html" %}
{% block content %}


<!-- Headings and paragraph -->
<h4 class="center-align  black-text lighten-4">Add Category</h4>
<p class="center-align"><strong>Add new category here!</strong></p>
s
<!--Category name-->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_category') }}">
       <div class="row">
            <div class="input-field col s12 white">
                <i class="tiny fas fa-caret-right prefix"></i>
                <input id="category_name" name="category_name" minlength="3" maxlength="25" type="text"
                    class="validate black-text" required>
                <label for="category_name">Category Name</label>
            </div>
        </div>

        <!-- post it button-->
        <div class="row">
            <button type="submit" class="col s12 btn small">
                Add Category <i class="tiny fas fa-sign-in-alt"></i>
            </button>
        </div>
</form>
</div>


{% endblock %}