{% extends "base.html" %}
{% block content %}

<!-- Headings on the registration page and paragraph -->
<h4 class="center-align">Edit Jobs</h4>

<!--form for posting jobs-->
<div class="row">
    <form class="col s12 m4 offset-m4" method="POST" action="{{ url_for('edit_jobs', jobs_id=jobs._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <input id ="company" name="company" value="{{ jobs.company }}"  type="text" class="validate" required>
                <label for="company">Company</label>
            </div>
        </div>
            <!--job title-->
            <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <input id ="job_title" name="job_title" value="{{ jobs.job_title }}" type="text" class="validate" required>
                <label for="job_title">Job Title</label>
            </div>
        </div>
            <!--salary-->
            <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <input id ="salary" name="salary" value="{{ jobs.salary }}" type="text" class="validate">
                <label for="salary">Salary</label>
            </div>
        </div>
            <!--category name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="tiny fas fa-caret-right prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                      <option value="" disabled>Choose job type</option>
                      {% for category in categories %}
                      {% if category.category_name == jobs.category_name %}
                       <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                          {% else %}
                          <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                          {% endif %}
                      {% endfor %}
                      </select>
                    <label for="category_name">Category</label>
                  </div>
                
        </div>
            <!--location-->
        <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <input id ="location" name="location" value="{{ jobs.location }}" type="text" class="validate">
                <label for="location">Location</label>
            </div>
        </div>
            <!--job descritpion-->
            <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <textarea id="job_description" name="job_description" class="materialize-textarea validate" required>{{- jobs.job_description -}}</textarea>
                <label for="job_description">Job Description</label>
            </div>
        </div>
            <!--experience-->
            <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <textarea id="experience" name="experience" class="materialize-textarea validate" required>{{- jobs.experience -}}</textarea>
                <label for="experience">Experience</label>
            </div>
        </div>
            <!--qualification-->
            <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <textarea id="qualification" name="qualification" class="materialize-textarea validate" required>{{- jobs.qualification -}}</textarea>
                <label for="qualification">Qualification</label>
            </div>
            </div>
            <!--About the company-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="tiny fas fa-caret-right prefix"></i>
                    <textarea id="about_the_company" name="about_the_company" class="materialize-textarea validate" required>{{- jobs.about_the_company -}}</textarea>
                    <label for="about_the_company">About The company</label>
                </div>
                </div>
            <!--application-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="tiny fas fa-caret-right prefix"></i>
                    <textarea id="application" name="application" class="materialize-textarea validate" required>{{- jobs.application -}}</textarea>
                    <label for="application">Application</label>
                </div>
                </div>
            <!-- last submit date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <input id="submit_date" name="submit_date"value="{{ jobs.submit_date }}" type="text" class="datepicker validate" required>
                <label for="submit_date">Last submit Date</label>
            </div>
        </div>
            <!-- post it button-->
          <div class="row">
            <div class="col s12 center-align">
                <!-- cancel button -->
                <a href="{{ url_for('get_jobs') }}" class="waves-effect waves-light btn-small light-blue lighten-1">
                    Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                <button type="submit" class="waves-effect waves-light btn-small deep-purple accent-1">
                    Edit Task <i class="fas fa-edit right"></i>
            </button>
        </div>
        </div>
    </form>
</div>


{% endblock %}
