{% extends "base.html" %}
{% block content %}


{% block styles %}
<style>
   body {
    background-image: url('../static/images/img01.jpg');
   }
</style>
{% endblock%}


<!-- heading and paragraph-->
<h4 class="center-align"><strong>Welcome to SwedevCo.</strong></h4>
<p class="center"><strong>You can find all the Tech jobs available in Sweden in our plattform.</strong></p>

<br>
<!--content-->
<div class="center">
  <div class="col s4">
    <i class="medium fas fa-bolt pink-text lighten-2" aria-hidden="true"></i> 
    <h4><strong>Find Jobs</strong></h4>
    <p><strong>Find your dream job now!</strong></p>
    <p><strong>Here you can find  job posted by your next employer or your next colleague.</strong></p>
    <a href="{{ url_for('register') }}" class="waves-effect waves-light btn-small light-blue lighten-3 black-text">
     <strong> Register now, it is free!</strong>
      </a>
  </div><br>

  <div class="col s4">
    <i class="medium fas fa-user-friends pink-text lighten-2" aria-hidden="true"></i> 
    <h4><strong>Post jobs</strong></h4>
    <p><strong>As a registered user, you have a possibility to share job advertisement in our site.</strong></p>
  </div>

  <div class="col s4">
    <i class="medium fa fa-cog pink-text lighten-2" aria-hidden="true"></i> 
    <h4><strong>Search</strong></h4>
    <p><strong>You can search of jobs online to find the next step in your career.</strong></p>
</div>

{% endblock %}