{% extends "base.html" %}
{% block content %}


<!-- Text in the middle of the landing page -->
<div class="row">
    
<div class="responsive solid">
    <div>
        <h5> Upload videos anytime</h5>
    </div>

    <div class="rigth-align">
        <h5>Share your videos to all young people over the world.</h5>
    </div>


    <div>
        <h5>Share your videos to all young people over the world
                           
    </div>

    <div>
        <h5>Join us now and start sharing your videos today!</h5>
    </div>
</div>
</div>

{% endblock %}