{% extends "base.html" %}
{% block content %}

{% block styles %}
<style>
   body {
     background-image: url('../static/images/image2.jpg');
   }
</style>
{% endblock%}


<h4 class="center-align white-text text-darken-2">Job lists</h4>
<p class="center-align white-text text-darken-2">Find job here:</p>

</div>
<div class="container">
  {% for jobs in jobs %}
   4<div class="card-panel">
    <h3 class="center-align">
    <strong>{{ jobs.company }}</strong></h3>
    <p class="center-align"><strong>{{ jobs.job_title }}</strong></p>
    <p class="center-align">{{ jobs.salary }}</p>
    <p class="center-align">{{ jobs.category_name }}</p>
    <p class="center-align">{{ jobs.location }}</p>

    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header light  blue lighten-3"><strong>Job Description</strong></div>
        <!--delete button-->
        <div class="col-s3">
          {% if session.user|lower == jobs.created_by|lower%}
          <a href="#" class="waves-effect waves-light btn-small light-blue lighten-1">&#9940;</a>
          <a href="{{ url_for('edit_jobs', jobs_id=jobs._id) }}" class="waves-effect waves-light btn-small deep-purple accent-1">&#9998;</a>
         </div>
         <div class="collapsible-body"><span>
            <h6>{{ jobs.job_description }}</h6>
          </span>
          
          <div>
            <h6><strong>Experience:</strong></h6>
            <p>{{ jobs.experience }}</p>
          </div>

          <div>
            <h6><strong>Qualification:</strong></h6>
            <p>{{ jobs.qualification }}</p>
          </div>

          <div>
            <h6><strong>About the Company:</strong></h6>
            <p>{{ jobs.about_the_company }}</p>
          </div>

          <div>
            <h6><strong>Application:</strong></h6>
            <p>{{ jobs.application }}</p>
          </div>

          <div>
            <h6><strong>Last Submit Date:</strong></h6>
            <p>{{ jobs.submit_date }}</p>
          </div>

        </div>
        
      </li>
      <p class="center-align  blue-text darken-4"><em><strong>Posted by: {{ jobs.posted_by }}</strong></em></p>

    </ul>

  </div>
  {% endfor %}
</div>


{% endblock %}