<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwedevCo</title>
</head>
<body>
    {% for jobs in jobs %}
    {{ jobs.category_name }}<br>
    {{ jobs. job_title }}<br>
    {{ jobs.salary }}<br>
    {{ jobs.location }}<br>
    {{ jobs.company }}<br>
    {{ jobs.jobs_description }}<br>
    {{ jobs.experience }}<br>
    {{ jobs.qualifictaion }}<br>
    {{ jobs.about_the_company}}<br>
    {{ jobs.application }}<br>
    {{ jobs.submit_date }}<br>

    {% endfor %}
</body>
</html>