{% extends "base.html" %}
{% block content %}

<!-- Headings on the registration page and paragraph -->
<h4 class="center-align">Post Jobs</h4>
<p class="center-align">Share all the vacant developer jobs here!</p>
<!--form for posting jobs-->

<div class="row">
    <form class="col s12 m4 offset-m4" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <input id ="about_the_company" type="text" class="validate" required>
                <label for="about_the_company">Company</label>
            </div>
        </div>
            <!---->
            <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <input id ="job_title" type="text" class="validate" required>
                <label for="job_title">Job Title</label>
            </div>
        </div>
            <!---->
            <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <input id ="salary" type="text" class="validate">
                <label for="salary">Salary</label>
            </div>
        </div>
            <!---->
            <div class="row">
                <div class="input-field col s12">
                    <i class="tiny fas fa-caret-right prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                      <option value="" disabled selected>Choose job type</option>
                      {% for category in categories %}
                          <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                      {% endfor %}
                      </select>
                    <label for="category_name">Category</label>
                  </div>
                
        </div>
            <!---->
        <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <input id ="location" type="text" class="validate">
                <label for="location">Location</label>
            </div>
        </div>
            <!---->
            <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <textarea id="job_description" class="materialize-textarea validate" required></textarea>
                <label for="job_description">Job Description</label>
            </div>
        </div>
            <!---->
            <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <textarea id="experience" class="materialize-textarea validate" required></textarea>
                <label for="experience">Experience</label>
            </div>
        </div>
            <!---->
            <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <textarea id="qualification" class="materialize-textarea validate" required></textarea>
                <label for="qualification">Qualification</label>
            </div>
            </div>
            <!---->
            <div class="row">
                <div class="input-field col s12">
                    <i class="tiny fas fa-caret-right prefix"></i>
                    <textarea id="qualification" class="materialize-textarea validate" required></textarea>
                    <label for="qualification">About The company</label>
                </div>
                </div>
            <!---->
            <div class="row">
                <div class="input-field col s12">
                    <i class="tiny fas fa-caret-right prefix"></i>
                    <textarea id="application" class="materialize-textarea validate" required></textarea>
                    <label for="application">Application</label>
                </div>
                </div>
                 <!-- due date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="tiny fas fa-caret-right prefix"></i>
                <input id="submit_date" name="due_date" type="text" class="datepicker validate" required>
                <label for="submit_date">Last submit Date</label>
            </div>
        </div>
          <!-- submit -->
          <div class="row">
            <button type="submit" class="col s12 btn small">
                Post <i class="tiny fas fa-sign-in-alt"></i>
            </button>
        </div>
        </div>
    </form>
</div>


{% endblock %}