{% extends "base.html" %}
{% block content %}

<!--background image-->
{% block styles %}
<style>
   body {
    background-image: url('../static/images/image7.jpg');
   }
</style>
{% endblock%}


<!-- User's profile display here  -->
<div class="row">
    <div class="col s12 m4 offset-m4">
        <div class="card-panel  blue lighten-4">
            <h4 class="center-align white">

                {{ username }}

            </h4>
        </div>
    </div>
</div>
<hr>

<h5 class="align center white-text">My job list: </h5><br>
<!--list of jobs posted by user-->
<div class="container">
  {% for jobs in jobs %}
  {% if session.user|lower == jobs.posted_by|lower %}
    <div class="card-panel">
    <h3 class="center-align">
      <!--Company-->
    <strong>{{ jobs.company }}</strong></h3>
    <!--Job title-->
    <p class="center-align"><strong>{{ jobs.job_title }}</strong></p>
      <!--Salary-->
    <p class="center-align">{{ jobs.salary }}</p>
      <!--Category name-->
    <p class="center-align">{{ jobs.category_name }}</p>
      <!--Location-->
    <p class="center-align">{{ jobs.location }}</p>

    <ul class="collapsible popout">
      <li>
          
        <div class="collapsible-header light  blue lighten-3"><strong>Job Description</strong></div>
        <!--delete button-->
        <div class="col-s3">
          {% if session.user|lower == jobs.posted_by|lower %}
              <a href="#" class="waves-effect waves-light btn-small light-blue lighten-1 tooltipped" data-position="bottom" data-tooltip="delete">&#9940;</a>
                <!--edit button-->
              <a href="{{ url_for('edit_jobs', jobs_id=jobs._id) }}" class="waves-effect waves-light btn-small deep-purple accent-1 tooltipped" data-position="bottom" data-tooltip="edit">&#9998;</a>
          {% endif %}
          
         </div>
         <div class="collapsible-body"><span>
           <!--Job description-->
            <p>{{ jobs.job_description }}</p>
          </span>
          
          <div>
            <!--Experience-->
            <h6><strong>Experience:</strong></h6>
            <p>{{ jobs.experience }}</p>
          </div>

          <div>
             <!--Qualification-->
            <h6><strong>Qualification:</strong></h6>
            <p>{{ jobs.qualification }}</p>
          </div>

          <div>
             <!--About the Company-->
            <h6><strong>About the Company:</strong></h6>
            <p>{{ jobs.about_the_company }}</p>
          </div>

          <div>
             <!--Application-->
            <h6><strong>Application:</strong></h6>
            <p>{{ jobs.application }}</p>
          </div>

          <div>
             <!--Last Subtmit Date-->
            <h6><strong>Last Submit Date:</strong></h6>
            <p>{{ jobs.submit_date }}</p>
          </div>

        </div>
        
      </li>
       <!--Job posted by-->
      <p class="center-align  blue-text darken-4"><em><strong>Posted by: {{ jobs.posted_by }}</strong></em></p>

    </ul>

  </div>
  {% endif %}
  {% endfor %}
</div>

 

{% endblock %}